<!doctype html>
<html>
<html lang="en" itemscope itemtype="http://schema.org/Product" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>博客主页</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">
    <link rel="icon" type="image/png"href="https://www.seawork.com/__data/assets/image/0017/921401/Blog-logo.jpg">


    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/Addblog/third-party/SyntaxHighlighter/shCore.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/Addblog/third-party/SyntaxHighlighter/shCoreDefault.css}">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .content {
            width: 500px;
            line-height: 20px;
            font-size: 14px;
            margin-left: 70px;
        }

        .name {
            color: #eb7350;
        }

        .good:after {
            clear: both;
            content: '';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
        }

        .good {
            *zoom: 1;
        }

        .date {
            float: left;
            color: #808080;
        }


    </style>




    <link href="https://getbootstrap.com/docs/4.3/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,300,700" rel="stylesheet"/>


    <script src="http://cdn.keyakizaka46.com/files/14/javascripts/pc.js"></script>
    <link href="http://cdn.keyakizaka46.com/files/14/stylesheets/pc.css" rel="stylesheet"/>
    <link href="http://cdn.keyakizaka46.com/files/14/stylesheets/pc_additional.css?20180420" rel="stylesheet"/>


    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PHQRZBQ');</script>
    <!-- End Google Tag Manager -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68428703-1', 'auto');
        ga('send', 'pageview');

    </script>

    <title>Blog</title>
    <script>
        SyntaxHighlighter.all();
    </script>


    <script>
        function green(x) {
            x.style.background = "#28a745";
            x.style.color = "#ffffff"
        }

        function transparent(x) {
            x.style.background = "transparent";
            x.style.color = "#28a745";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <script src="https://www.17sucai.com/preview/11/2016-02-16/%E5%96%9C%E6%AC%A2/js/jquery-1.11.0.min.js" type="text/javascript"></script>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            if ([[${session.like}]]) {
                $(".heart").addClass("heartAnimation").attr("rel", "unlike");
            }

            $('body').on("click", '.heart', function () {

                var A = $(this).attr("id");
                var C = parseInt($("#likeCount").html());
                $(this).css("background-position", "")
                var D = $(this).attr("rel");
                D=[[${session.like}]];
                if (D === 'like') {
                    //$("#likeCount").html(C + 1);
                    $(this).addClass("heartAnimation").attr("rel", "unlike");
                    window.location.href="/blog/like/"+[[${blog.id}]];
                    //$("#likeinput").val(C + 1)
                    //document.getElementById("likenum").submit();
                } else {
                    //$("#likeCount").html(C - 1);
                    $(this).removeClass("heartAnimation").attr("rel", "like");
                    $(this).css("background-position", "left");
                    window.location.href="/blog/like/"+[[${blog.id}]];
                    //$("#likeinput").val(C - 1)
                    //document.getElementById("likenum").submit();
                }
            });
        });
    </script>
    <script>
        function checklike(x,y){
            if(x){
                $(y).addClass("heartAnimation").attr("rel", "unlike");
            }
        }
    </script>
    <link rel="stylesheet" type="text/css"
          href="https://www.17sucai.com/preview/11/2016-02-16/%E5%96%9C%E6%AC%A2/css/style.css"/>


</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding: 0.1rem;font-family: 微软雅黑">
    <a class="navbar-brand" href="#"
       style="margin-left: .7rem;margin-right: 1.2rem;font-family:inherit;font-size: 2rem;font-weight: 500">江一帆讲故事</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index.html"
                   style="font-family:inherit;font-size: 1.6rem;font-weight: 400;padding:1.7rem .8rem">首页<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/label/HTML"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">HTML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/blog/label/java"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">java</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/blog/label/C++"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">C++</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/blog/label/C"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/blog/label/Python"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">Python</a>
            </li>
            <!--            选项卡-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink"
                   aria-haspopup="true" aria-expanded="false"
                   style="font-family:inherit;font-size: 1.5rem;font-weight: 400;padding:1.7rem .8rem">
                    更多分类 <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 160px;height: 120px">
                    <a class="dropdown-item" href="/blog/label/css"
                       style="padding-left:25px;padding-top:6px;position: relative;height: 40px;text-align: left;font-family: 微软雅黑;font-weight: 500;font-size: 15px"
                    >css</a>
                    <a class="dropdown-item" href="/blog/label/Javascript"
                       style="padding-left:25px;padding-top:6px;position: relative;height: 40px;text-align: left;font-family: 微软雅黑;font-weight: 500;font-size: 15px"
                    >Javascript</a>
                    <a class="dropdown-item" href="/blog/label/MySql"
                       style="padding-left:25px;padding-top:6px;position: relative;height: 40px;text-align: left;font-family: 微软雅黑;font-weight: 500;font-size: 15px"
                    >MySql</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-left: 500px" th:action="@{/blog/search}" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name"
                   style="font-family:-apple-system;borderradius:.8rem;width: 20rem;height:3.8rem;padding:.375rem .75rem;font-size:1.5rem;font-weight:400;line-height:1.5;">
            <div class="btn-group">
                <button class="btn btn-outline-success my-2 my-sm-2" type="submit"
                        style="margin-left: .6rem;font-family:-apple-system;border-top-left-radius:.4rem;border-bottom-left-radius:.4rem;;width:7.5rem;height:3.8rem;
                        color: #28a745;padding:.375rem .75rem;font-size:1.5rem;font-weight:400;line-height:1.5;background-color:transparent"
                        onmousemove="green(this)" onmouseout="transparent(this)"
                >Search
                </button>
                <button type="button" class="btn btn-outline-success dropdown-toggle dropdown-toggle-split my-2 my-sm-2"
                        data-toggle="dropdown"
                        style="margin:0rem;font-family:-apple-system;border-left-width: 0;border-top-right-radius:.4rem;border-bottom-right-radius:.4rem;width:2.8rem;height:3.8rem;
                        color: #28a745;padding:.375rem .75rem;font-size:1.5rem;font-weight:400;line-height:1.5;background-color:transparent"
                        onmousemove="green(this)" onmouseout="transparent(this)" onm>
                    <span class="choose"></span>
                </button>
                <input type="hidden" id="instruction" name="button">
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 160px;height: 80px">
                    <a class="dropdown-item" id="bowen" href="#"
                       style="padding-left:25px;padding-top:6px;position: relative;height: 40px;text-align: left;font-family: 微软雅黑;font-weight: 500;font-size: 15px"
                       onclick="clickBowen()">博文</a>
                    <a class="dropdown-item" id="bozhu" href="#"
                       style="padding-left:25px;position: relative;height: 40px;text-align: left;font-family: 微软雅黑;font-weight: 500;font-size: 15px"
                       onclick="clickBozhu()">博主</a>
                    <script>
                        function clickBowen() {

                            document.getElementById("instruction").innerHTML = "博文";
                        }

                        function clickBozhu() {

                            document.getElementById("instruction").innerHTML = "博主";
                        }
                    </script>
                </div>
            </div>
        </form>
        <ul class="navbar-nav mr-auto"
            style="font-family:inherit;font-size: 1.6rem;font-weight: 400;padding:1.7rem .8rem">
            <li class="nav-item" style="margin-right: .6rem">
                <a class="nav-link " href="/Addblog.html" th:text=" @{(${session.user} ? '发布博客' : '')}">发布博客</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="@{/user/logout}" th:text=" @{(${session.user} ? '登出系统' : '')}">登出系统</a>
            </li>
        </ul>

    </div>
</nav>
<br><br><br>

<div class="keyaki-blog_single">
    <div class="l-wrapper">
        <div class="l-content">
            <a href=" ">

            </a>
            <div class="l-inner">
                <div class="box-content">
                    <div class="box-main" style="border-top: 1px solid #5a6268;border-bottom: 1px solid #5a6268;">
                        <article style="border-top: 1px solid #5a6268;border-bottom: 1px solid #5a6268;">
                            <div class="innerHead">
                                <div class="box-date" style="background-color:#5a6268 !important">
                                    <time>[[${yyyymm}]]</time>
                                    <time>[[${dd}]]</time>
                                </div>
                                <div class="box-ttl">
                                    <h3>
                                        [[${blog.theme}]]
                                    </h3>
                                    <p class="name">
                                        <a th:href="${userzone}" style="color:#5a6268" th:text="${author.username}">username</a>
                                    </p>
                                </div>
                                <form style="float: right;height: 60px;width: 100px;margin-top: -15px" id="likenum">
                                    <!-----------------------------------提交点赞数------------------------->
                                    <div class="feed" id="feed2" style="height: 40px" ><!----是否点赞过-->
                                        <div class="heart" id="like" rel="like" style="height: 60px;width: 60px;float: right;left: 28px"  ></div>
                                        <div class="likeCount" id="likeCount" style="margin-top:32px;margin-left:0px;font-size: 20px;float: right"
                                             th:text="${blog.number}">0</div>
                                    </div>
                                    <input type="hidden" id="likeinput">
                                </form>

                            </div>
                            <div class="box-article">
                                [(${blog.content})]
                            </div>
                            <div class="box-bottom" style="margin-bottom: 60px">
                                <ul>
                                    <li>
                                        [[${session.blog.date}]]
                                    </li>
                                </ul>
                            </div>
                            <img style=" width: 40px;
                                                height: 40px;
                                                left: 50%;
                                                top: 50%;
                                                -webkit-transform: translate(-50%, -50%);
                                                transform: translate(-50%, -50%);
                                                max-width: 100%;
                                                margin-left: 30px;margin-bottom: -15px;margin-right: -5px"
                                 src="https://freeiconshop.com/wp-content/uploads/edd/document-download-outline.png">
                            <a th:href="@{(${isfile} ? '/download/file/'+${blog.Fileid} : '')}"
                               th:text="@{(${isfile} ? '下载资源': '')}"
                               style="font-size: 15px">
                            </a>
                        </article>


                        <div class="content" th:each="comment:${comments}" >
                            <br>
                            <div style="width:100%;min-height: 100px;margin-top: 10px;margin-bottom: 10px;">
                                <div style="width:80px;height:80px;float: left;">
                                    <img style="border-radius:100%;width: 70px;height: 70px;"
                                         th:src="@{/file/image/}+${comment.AuthorImageid}">
                                </div>
                                <div style="width: 80%;float: left;margin-left: 20px;">
                                    <a th:href="@{/zone/author/}+${comment.Authorid}"><span class="name" th:text="${comment.Authorname}">翔哥：</span></a>
                                    <p class="text" th:text="${comment.content}"><font size="3">你就说，华为云比阿里云到底差3213321312几年？？321111111111</font> </p>
                                    <div class="good"><span class="date" th:text="${comment.date}">02-14 23:01</span><a
                                            class="dzan" href="javascript:;"></a></div>
                                </div>

                            </div>
                            <!--                            reply-->

                        </div>




                        <br>
                        <div class="box-navi" style="margin:30px 0 50px 0 ">
                            <div class="box-navi_prev"
                                 style="width: 700px;border-bottom: 1px solid #d2d2d2;margin-top: 10px;margin-bottom: 10px">
                                <div style="float:left;-webkit-transition: opacity 0.3s linear;transition: opacity 0.3s linear;
                                              position: relative;
                                              margin: auto;
                                              margin-top: 0px;
                                              width: 50px;
                                              height: 50px;
                                              position: relative;
                                              overflow: hidden;
                                              border-radius: 100%;
                                              border: 1px solid #d2d2d2; ">
                                    <a th:href="${userzone}"><img
                                            style=" position: absolute;
                                                width: auto;
                                                height: auto;
                                                left: 50%;
                                                top: 50%;
                                                -webkit-transform: translate(-50%, -50%);
                                                transform: translate(-50%, -50%);
                                                max-width: 100%;"
                                            th:src="@{(${session.user} ? '/file/image/'+${session.user.Imageid} : 'null')}"/>
                                    </a>
                                </div>
                                <form class="form-inline my-2 my-lg-0"
                                      style="margin-top: 0!important;margin-bottom: 20px!important;"
                                      th:action="@{/comment/add}" method="post">

                                    <input class="form-control mr-sm-2" type="text" placeholder="评论"
                                           name="content" aria-label="Comment" d="comment"
                                           onmousemove="this.style.backgriound='transparent',this.style.borderColor='#00caff'"
                                           onmouseout="this.style.background='#f5f5f5',this.style.borderColor='#e2e2e2'"
                                           style="background-color: #f5f5f5;position:relative;margin-left:3.5rem;border-radius:.6rem;font-family:-apple-system;width:520px;height:6rem;font-size:1.5rem;font-weight:400;line-height:1.5;">
                                    <input type="hidden" th:value="${session.blog.id}" name="Blogid">

                                    <button class="commentbtn" type="submit"
                                            style="float: right;margin-left:2rem;border-radius:.6rem;border-color: #13b4ff;width:6rem;height:6rem;
                                        font-family:-apple-system;font-size:1.3rem;font-weight:400;color: #ffffff;line-height:1.5;background-color: #13b4ff;"
                                            onmousemove="this.style.background='#00caff'"
                                            onmouseout="this.style.background='#13b4ff'"
                                    >发表<br/>评论
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="box-sideMember">
                        <div class="box-profile"
                             style="background: transparent;border: 1px solid #5a6268 !important;text-align: center;">
                            <p class="thumb" style="-webkit-transition: opacity 0.3s linear;transition: opacity 0.3s linear;
                                              position: relative;
                                              margin: 0 auto;
                                              margin-top: 10px;
                                              width: 115px;
                                              height: 115px;
                                              position: relative;
                                              overflow: hidden;
                                              border-radius: 100%;
                                              border: 1px solid #d2d2d2; ">
                                <a th:href="${icon} "><img style=" position: absolute;
                                                width: auto;
                                                height: auto;
                                                left: 50%;
                                                top: 50%;
                                                -webkit-transform: translate(-50%, -50%);
                                                transform: translate(-50%, -50%);
                                                max-width: 100%;"
                                                           th:src="@{/file/image/}+${author.Imageid}"/></a>
                            </p>
                            <!-------------------------------------------------头像↑  &↓-------------------------------------------------->
                            <p class="name" style="font-size: 16px;font-size: 1.5rem;margin: 14px 0 0 0;">
                                <a th:href="@{/zone/author/}+${author.id}"><span th:text="${author.username}">用户名</span></a>
                            </p>
                            <p class="location" style=" font-size: 10px;font-size: 1rem;margin-bottom: 0;">
                                <span th:text="${author.birth}">生日</span>
                            </p>
                            <p class="birth" style="font-size: 10px;font-size: 1rem;margin: 4px 0 4px 0;">
                                <span th:text="${author.content}">个人介绍</span>
                            </p>

                        </div>

                        <div class="box-nenwEntry_member" style="border: 1px solid #5a6268 !important;">
                            <a th:href="@{/blog/get/}+${lastupdate.id}">
                            <h5 style="color: #5a6268;">
                                最近更新:
                                <br>
                                [[${lastupdate.theme}]]
                            </h5></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .l-content02 .l-inner .box-memberBlog ul.thumb li {
        vertical-align: top;
    }

    .l-content02 .l-inner .box-memberBlog ul.thumb li p {
        line-height: 1.2;
    }
</style>

<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.4"></script>
<style>
    img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -0.1em;
    }
</style>
<script>
    twemoji.parse(document.body);
</script>

<script>
    $(function () {
        $("img").not('.copy_permission').attr("onmousedown", "return false");
        $("img").not('.copy_permission').attr("onselectstart", "return false");
        $("img").not('.copy_permission').attr("oncontextmenu", "return false");
    });
</script>

<style>
    img {
        -webkit-touch-callout: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -moz-touch-callout: none;
        touch-callout: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        user-drag: none;
    }
</style>

</body>
</html>